 /* Style the tab */
.tab {
  overflow: hidden;
  color: #6E6E6E;
  font-size: 17px;
  font-weight: bold;
  float: center;
  /*border: 1px solid #ccc;*/
  background-color: #FFFFFF;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  margin: 20px 0;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  color: #FF8000;
  /*background-color: #ccc;*/
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
} 

.tabcontent {
  animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

.side-image {
  float: left;
}
.box {
  border-radius: 25px;
  background-color:#DCDCDC;
  width: 300px;
  padding: 50px;
  margin: 20px;
  display: inline-block;
}
.box1 {
  border-radius: 25px;
  background-color:#DCDCDC;
  width: 640px;
  padding: 50px;
  margin: 20px;
}
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #FF8000;
   color: white;
   text-align: left;
   padding: 10px;
}
.button {
  border-radius: 25px;
  background-color: #FF8000; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

/*div.bild img {
   margin-bottom:150px;
}*/
